<!DOCTYPE html>
<html>
  <head>
    <title>ffkp.se | Join ffkp</title>
    <link rel="stylesheet" href="/static/style/forms.css" type="text/css"  media="screen">
    <link rel="stylesheet" href="/static/style/style.css" type="text/css"  media="screen">
  <body>

    <header>
      <h1>
	<img width="43" height="48" src="/static/style/logo.png" />
	<span style="font-family:SawasdeeRegular, sans-serif;color:#4e9a06">ffkp.se</span>
	<span>|</span>
	<span style="word-spacing:0;font-family: 'Philosopher', sans-serif;font-style:italic;">Become a member</span>
      </h1>
    </header>

    <div id="content">
      {% block content %}
    <div id="join_form">
      <form action="{{ action }}" method="post">
	{{ form.non_field_errors }}
	<div class="fieldWrapper{% if form.name.errors %} errors{% endif %}">
	  <label for="id_name">Name</label>
	  {{ form.name }}
	  {{ form.name.errors }}
	</div>
	<div class="fieldWrapper{% if form.email.errors %} errors{% endif %}">
	  <label for="id_email">Email</label>
	  {{ form.email }}
	  {{ form.email.errors }}
	</div>
	
	<div class="submit-button">
	  <button type=submit>Next ➤</button>
	</div>

	{% csrf_token %}
      </form>
    </div>

    <div id="join_text">
      <h2>Join FFKP!</h2>

      <p>Thank you for considering becoming a member of the FFKP!</p>
      
      <h3>What does it mean to be a member of FFKP?</h3>
      
      <p>As a member your support the work we do to promote and educate about free culture and software.</p>
      
      <ul>
	<li>The membership lasts an entire year.
	<li>As a member you contribute financially to our work.
	<li>You get our newsletter in your (e-)mailbox.
	<li>You are welcome to participate at our monthly member get-together.
      </ul>
      
      <h3>Membership fees</h3>
      
      <p>Not everyone has the same financial situation and the same rate may appear too high or too low for some. Therefore you can freely determine for yourself how much or how little you can contribute, down to the minimum amount of 50 SEK (about 6 €) for a year; there is no upper limit.
	
      <p>This amount will never be checked and all people will be treated the same regardless of the amount of their contribution.
	
	<h4>Associate member</h4>
	
      <p>Are you a member of the Fellowship of the FSFE? Lucky you, that means you don't have to pay extra to become a member also of FFKP. Please mark "FSFE Fellow" under "Payment option".

    </div>
    {% endblock %}
    </div>

  </body>
</html>
