{% extends "join.html" %}
{% block content %}
<h2>Welcome {{ reg.name }}!</h2>

<p>As we said, not everyone has the same financial situation. Therefore you are free to determine for yourself how much or how little you can contribute, down to the minimum amount of 50 SEK (about 6 €) for a year; there is no upper limit.

<p>This amount will never be checked and all people will be treated the same regardless of the amount of their contribution.

<h3>Methods of payment</h3>

<p>Please use one of the option bellow to pay your membership fees:

<h3>Bankgiro</h3>
Bankgiro: 206-9987

<h3>Bank transfert</h3>
IBAN Account number: SE44 8000 0810 5990 4108 3727<br />
Bic Code: SWEDSESS

<h3>Paypal</h3>
<address>payments@ffkp.se</address>

<p>Please note that we are managing membership manually at the moment. We'll validate your membership once we receive notice of your payment.

<p>We'll email you at {{ reg.email }} with a confirmation once the membership is fully
processed.

{% endblock %}
